* {
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: black !important;
}


/* SECTION for video background */

header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}


/* CUSTOMIZED */

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

header .container {
    opacity: 0.0;
    animation: 1s ease-out 1s 1 fade-in;
    animation-fill-mode: forwards;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section-one {
    background: url('images/pexels-adrien-olichon-2387793.jpg');
    background-size: cover;
}

.section-two {
    background: url('images/pexels-sora-shimazaki-5668473.jpg');
    background-size: cover;
}

.section-three {
    background: url('images/pexels-lucas-pezeta-3772353.jpg');
    background-size: cover;
}

.section-five {
    background: url('images/mexico-beach-landscape-photo.jpeg');
    background-size: cover;
}

.section-six {
    background: url('images/pexels-roberto-shumski-5555192.jpg');
    background-size: cover;
}

.icon-container a {
    color: white;
    text-align: center;
}